/* General Styles */

a:hover {color:#FF0000;} 

body {
  background-color: rgb(241, 241, 241);
  font-size: 1em;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0px auto;
  min-width: 60em;
  width: 100%;
}

p {
  font-family:"Special Elite", cursive, sans-serif;
  margin: 1em;
}

a {
  color: #1D766F;
  font-family:"Special Elite", cursive, sans-serif;
  text-decoration: none;
}

h1 {
  font-size: 2.2em;
  float: left;
  line-height: .4667em;
}

h2 {
  background-color: rgb(60, 60, 60);
  color: #FFF;
  font-size: 2.4em;
  font-weight: 400;
  line-height: .48px;
  margin: 0 0 0.5em 0;
  text-align: center;
}

h3 {
  font-size: 1.4em;
  font-weight: 700;
  margin: 0 0 0.3em 0;
  text-align: center;
}

h4 {
  color: rgb(120, 120, 120);
  font-size: 1em;
  text-align: center;
}

/* Navigation */
.nav li {
  float: left;
}
.nav li a {
  color: #fff;
  margin: 0 .625em;
  padding: .3125em .625em;
  text-decoration: none;
}

.jump {
  color: #565656;
  font-size: .2286em;
  line-height: .200em;
  position: absolute;
  text-decoration: none;
  top: 0;
}
.jump.up {
  left: .9375em;
}
.jump.down {
  right: .9375em;
}


/* Header */
#header {
  background-color: #009D92;
  padding: .625em;
}
#header h1 {
  color: #FFEECC;
  background: url('../images/icons/it.png') no-repeat 0 50%;
  padding-left: 2.5em;
}
#header .nav {
  float: right;
  font-size: 1.2em;
  margin-left: 1.042em;
}
#header .nav li {
  line-height: 4.6875em;
}

#header:after {
  /* clearfix hack */
  content: "";
  display: table;
  clear: both;
}


/* Main */
#main div {
  margin-bottom: 1em;
  position: relative;
}
#main div.wrapper{
    width: 100%;
    max-width:87.5em;
    margin: 0 auto;
}

#main section:after {
  /* clearfix hack */
  content: "";
  display: table;
  clear: both;
}


/* Famous Women */
#famous div.woman {
  background-color: white;
  float: left;
  min-height: 15.625em;
  margin: 1%;
  padding: 2%;
  width: 27.33%;
}

#famous div.break {
  clear: both;
}

#famous div img {
  display: block;
  margin: 1em auto;
  width: 100%;
}


/* Organizations */
#organizations {
  clear: both;
}

#organizations ul {
  margin: 3.125em;
  position: relative;
}
#organizations ul li {
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 1em;
  padding-left: .260em;
  max-width: 50%;
}
#organizations img {
  position: absolute;
  right: 1.25em;
  top: 0;
  display: none;
  max-width: 40%;
}
#organizations li:hover img {
  display: block;
}

/* Fun Facts */
#facts ul {
  margin: 3.125em;
}
#facts ul li {
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 1em;
  padding-left: .3125em;
}



/* Footer */
#footer {
  background-color: #00665F;
}

#footer .nav {
  float: left;
  font-size: 1.1em;
  margin: .568em;
}

#footer:after {
  /* clearfix hack */
  content: "";
  display: table;
  clear: both;
}