div.nav_bar{
	display:inline-block;
	position: fixed;
	background-color: #1a1a1a;
	top: 0;
	left: 0;
	width: 100%;
	height: 3em;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	z-index: 1;
}

img.nav_logo{
	width: 30%;
	height: 30%;
}

a.navlink:link {
		color:#b2b2b2;	
		display: inline-block;
		width: 7.25em;
		background-color: #1a1a1a;
		text-align: center;
		text-decoration: none;
}
a:visited {color:#b2b2b2;}

a.navlink:hover {
}